extends layout

append head
  title= title
  link(rel='stylesheet', href='/stylesheets/index.css')
  script(src='/javascripts/index.js')
block content
  body
    div#header
      h1= title
      if user_id
        h3 Signed in as #{user_id}.
      else
        h3 Welcome! Please create an account or sign in to continue...
    if user_id
      content
    else
      button.outbutton#signup Create an Account
      button.outbutton#signin Sign In