extends layout

append head
  title= title
  link(rel='stylesheet', href='/stylesheets/index.css')
  script(src='/javascripts/index.js')
block content
  body
    div#header
      h1= title
      if username
        h3 Signed in as #{username}
      else
        h3 Welcome! Please create an account or sign in to continue...
    if username
      input(placeholder='Search an Artist')#artistsearch
      button#artistsearchbutton
        | Search
      div.concert
        p.concerttitle
          a(href='https://jasonedwardlee.com')
            | Big Concert!
        p.concertartist Json Derulo
        p.concertdate 2021-11-28
        p.concerttime 7:00 PM
        p.concertvenue Lehigh University STEPS Concourse
        button.interested
          | I'm Interested!
    else
      button.outbutton#signup Create an Account
      button.outbutton#signin Sign In