doctype html
html
  head 
    block head
      link(rel='stylesheet', href='/stylesheets/layout.css')
      link(rel='stylesheet', href='/stylesheets/navbar.css')
      link(rel='stylesheet', href='/stylesheets/search.css')
      script(src='/javascript/navbar.js')
  body
    div#navbar
        img(src='/images/logoInverted.png' alt='logo')
        button#home Home
        if username
          button#users Users
          button#profile Profile
          button#signout Sign Out
    block content
