doctype html
html
  head 
    block head
      title Beat Buddy
      meta(charset='UTF-8')
      meta(name="author", content="Jason Lee")
      meta(name="description", content="Beat Buddy is a platform for enthusiastic concert-goers to discover events and meet each other.")
      meta(name="image" content="/images/ogThumbnail.png")
      meta(property="og:locale", content="en_US")
      meta(property="og:site_name", content="Beat Buddy")
      meta(property="og:type", content="website")
      meta(property="og:title", content="Beat Buddy")
      meta(property="og:description", content="Beat Buddy is a platform for enthusiastic concert-goers to discover events and meet each other.")
      meta(property="og:image", content="/images/ogThumbnail.jpg")
      meta(property="og:url", content="https://beat-buddy-rg8w.onrender.com/")
      meta(name="theme-color", content="#ff0000")
      link(rel='icon', href='/images/logo.png')
      link(rel='stylesheet', href='/stylesheets/layout.css')
      link(rel='stylesheet', href='/stylesheets/navbar.css')
      link(rel='stylesheet', href='/stylesheets/search.css')
      script(src='/javascript/navbar.js')
  body
    div#navbar
        img(src='/images/logoInverted.png' alt='logo')
        button#home Home
        if username
          button#users Users
          button#profile Profile
          button#signout Sign Out
    block content
