extends layout

append head
  title= title
  link(rel='stylesheet', href='/stylesheets/profile.css')
  script(src='/javascripts/profile.js')
block content
  body
    div#header
      h1= title
      if username
        h3 Signed in as #{username}
    if username
      h5.field#email Email Address: jsonderulo@mail.com
      h5.field#instagram Instagram: @jsonderulo
      h5.field#snapchat Snapchat: @jsonderulo