extends layout

append head
  link(rel='stylesheet', href='/stylesheets/signin.css')
  script(src='/javascript/signin.js')
block content
  body
    div#header
      h1= title
    if !username
      form(id="signinform")
        h5 Username:
        input.field#username
        h5 Password:
        input(type='password').field#password
        input(type='submit', value='Sign In')#submitbutton