extends layout

append head
  link(rel='stylesheet', href='/stylesheets/signup.css')
  script(src='/javascript/signup.js')
block content
  body
    div#header
      h1= title
    if !username
      form(id="signupform")
        h5 Username (required):
        input.field#username
        h5 Password (required):
        input(type='password').field#password
        h5 Email Address:
        input.field#email
        h5 Instagram: 
        input(value="@").field#instagram
        h5 Snapchat:
        input(value="@").field#snapchat
        input(type="submit" value="Sign Up")#submitbutton