extends layout

append head
  title= title
  link(rel='stylesheet', href='/stylesheets/users.css')
  script(src='/javascripts/users.js')
block content
  body
    div#header
      h1= title
      if username
        h3 Signed in as #{username}
    if username
      input(placeholder='Search a User').searchbox#usersearch
      button.searchbutton#usersearchbutton
        | Search
    div.user
      p.username jsonderulo
      p.userfield Email Address: jsonderulo@mail.com 
      p.userfield Instagram: @jsonderulo
      p.userfield Snapchat: @jsonderulo
      if admin
        button.remove
          | Remove User