#header {
  text-align: center;
}

.outbutton {
  display: block;
  background-color: #FF0000;
  color: white;
  border: none;
  font-size: 32px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
}

.outbutton:hover {
  background-color: #EE0000;
  cursor: pointer;
}

#artistsearch {
  display: block;
  border: solid 2px;
  width: 30%;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 1%;
  padding: 5px;
}

#artistsearchbutton {
  display: block;
  background-color: #FF0000;
  color: white;
  border: none;
  font-size: 28px;
  width: 8%;
  margin-left: auto;
  margin-right: auto;
}

#artistsearchbutton:hover {
  background-color: #EE0000;
  cursor: pointer;
}

.concert {
  display: block;
  border: solid 2px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  background-color: #EEEEEE;
  border-radius: 20px;
}

p.concerttitle {
  font-size: 18px;
  text-align: center;
}

p.concertartist {
  font-size: 12px;
  text-align: center;
}

p.concerttime {
  font-size: 12px;
  text-align: center;
}

p.concertdate {
  font-size: 12px;
  text-align: center;
}

p.concertvenue {
  font-size: 12px;
  text-align: center;
}

button.interested {
  display: block;
  background-color: #FF0000;
  margin-left: auto;
  margin-right: auto;
  color: white;
  border: none;
  font-size: 18px;
  width: 20%;
  margin-bottom: 12px;
}

button.interested:hover {
  background-color: #EE0000;
  cursor: pointer;
}